.park_img{
    background-size: cover;
    background-position: center;
    height: 100%;
}
@media only screen and (max-width: 992px) {
    .park__img {
      min-height: 300px;
    }
}
.summary_card{
  padding: 5%;
  padding-bottom: 1px;
  margin: 5%;
}
.primary_button{
  background-color: #EE5500;
  border-radius: 4px;
  padding: 8px 18px;
  margin: .5em;
}
.secondary_button{
  background-color: #E2BACD;
  border-radius: 4px;
  padding: 8px 18px;
  margin: .5em;
}
.h5{
  color: #272343;
}